{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-tag-spacing": [0]
  },
  "extends": ["standard", "standard-react"]
}
