@font-face {
	font-family: 'PressStart2P';
	src: url('./assets/fonts/PressStart2P.ttf');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'PressStart2P', sans-serif;
}

body {
	background-color: #30363a;
}

h1 {
	margin: 0;
}